.marker {
    background-image: url('../images/matteo-card.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.Contact-form {
    width: 400px;
}

.form-label::after {
    content: "*";
    color: red
}

.campi-obbligatori::before {
    content: "*";
    color: red;
}

.contattami {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

.map.mapboxgl-map {
    padding: 200px;
    margin: 70px 150px 0 150px;
}

.map {
    display: flex;
    max-width: 100vw;
    justify-content: center;
}

section.info-utile {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 100px;
}

.mobile,
.email {
    width: 250px;
    border: 1px solid black;
    padding: 70px 0;
    margin-top: 30px;
}

i.mail.icon,
i.phone.icon {
    font-size: 3em;
}

section.mi-trovi-qui {
    width: 57%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    padding: 70px 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

section.email-me {
    text-align: center;
    padding: 90px;
}

.form-group {
    margin-bottom: 4rem;
    width: 500px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.btn.btn-primary {
    width: 250px;
    &:hover {
        cursor: pointer;
    }
}

.form-group:last-child {
    text-align: center;
}

.success {
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 0px;
    width: 500px;
    border-radius: 20px;
}

.error {
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 0px;
    width: 500px;
    border-radius: 20px;
}