img.home-mobile {
    display: none;
}

img.home {
    width: 100%;
    height: 560px;
}

div#nav {
    margin-bottom: auto;
    position: relative;
}

div.matteo {
    position: absolute;
    left: 8%;
    top: 213px;
}

.landing-page {
    padding-bottom: 10vh;
}

button.btn-hp {
    background-color: orangered;
    height: 45px;
    color: white;
    border: none;
    margin-right: 50px;
    cursor: pointer;
}

.hp-btn-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

h2.training {
    display: block;
}