@media only screen and (max-width: 1366px) and (orientation: portrait) {
    .map.mapboxgl-map {
        margin: 0!important;
    }
    .my-step h3 {
        width: auto;
        font-weight: normal;
    }
}

@media only screen and (max-width: 425px) and (orientation: portrait) {
    .my-step {
        margin: 0!important;
        padding: 20px;
        & h2 {
            width: 300px;
        }
        & h3 {
            font-size: 18px;
            text-align: justify;
        }
    }
    .consultation .step1 {
        padding: 20px;
    }
    .mindset-info {
        padding: 20px;
        margin-top: 40px!important;
    }
    section.approach-description>div,
    section.about-mindset {
        margin-bottom: 0!important;
    }
    div.matteo {
        left: 2%;
        top: 85px;
        & h2.training {
            font-size: 5.1vh;
        }
    }
    section.landing-page1,
    img.nutrition-coaching,
    img.training-pic,
    img.mindset {
        height: 36vh!important;
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    .offer {
        padding: 40px;
    }
    section.training-offer {
        height: auto;
    }
}