section.personal-credo {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 140px;
}

.personal-credo h2 {
    text-align: center;
    padding-bottom: 50px;
}

.personal-credo ul {
    padding-top: 80px;
    margin: 0 auto;
    width: 78.125vw;
    line-height: 2rem;
}

.personal-credo p {
    text-align: justify;
    margin: 0 auto;
    width: 53.125vw;
}

.personal-credo > ul li:last-child {
    padding-bottom: 50px;
}