h2.training {
    color: black;
    font-size: 80px;
    font-weight: bolder;
}

section.training-offer {
    margin-top: 100px;
}

section.training-offer>div {
    text-align: justify;
    padding-bottom: 100px;
}

.offers {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.offers>.offer {
    max-width: 600px;
}

.btn-training {
    text-align: center;
    padding-top: 100px;
}

.btn-training .btn-hp {
    margin: 0 auto;
}

.training-approach {
    text-align: justify;
    font-size: 18px;
    line-break: auto;
    padding-top: 80px;
}