

* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

h1 {
    max-width: 300px;
    font-size: 65px;
    font-weight: bolder;
}

h4 {
    max-width: 390px;
    font-size: 24px;
}

h2 {
    color: orangered;
}



///////// TEST PARALLAX //////////// works
// .consultation {
//     background-image: url('./images/vegs.jpg');
//     min-height: 500px;
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }