* {
    box-sizing: border-box;
}

img.home {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 95vh;
}

div#nav {
    margin-bottom: auto;
    position: relative;
}

div.matteo {
    position: absolute;
    left: 8%;
    top: 213px;
}

h2.training {
    color: black;
    font-size: 80px;
    font-weight: bolder;
}

.nutrition-coaching {
    transform: scaleX(-1);
}

section.training-offer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

section.training-offer > div {
    max-width: 400px;
    height: 600px;
}

button.dropdown-item {
    text-transform: uppercase;
    line-height: 2rem;
}

h1 {
    max-width: 300px;
    font-size: 65px;
    font-weight: bolder;
}

h4 {
    max-width: 390px;
    font-size: 24px;
}

h2 {
    color: orangered;
}

#logo-navbar {
    height: 52px;
    width: 85px;
}

.logo-sidenav {
    height: 75px;
}

button.btn-hp {
    background-color: orangered;
    height: 45px;
    color: white;
    border: none;
    margin-right: 50px;
    cursor: pointer;
}

button.dropdown-toggle {
    border: none;
    color: white;
    background-color: #1b1c1d;
    cursor: pointer;
}

div#sidebar {
    top: 40px;
}

.hp-btn-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 84px;
    width: 151px;
}

.ui.compact.menu {
    background-color: #1b1c1d;
}

i.dropdown.icon {
    color: white;
}

.ui.inverted.menu {
    justify-content: flex-end;
}

.header-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    &.photo {
        margin-bottom: 65px;
    }
}

h2#me {
    color: black!important;
    text-align: center;
}

.story {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 150px 0 65px 0;
}

.description1 {
    width: 560px;
    text-align: justify;
}

img.step1 {
    width: 300px;
}

img.health {
    height: 250px;
    width: 400px;
}

.photo1 {
    margin-bottom: 100px;
}

.my-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 70px 70px;
}

.my-step h3 {
    margin-top: 50px;
}

img.consult {
    max-width: 400px;
}

section.consultation {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.step1 {
    width: 600px;
    text-align: justify;
    line-break: auto;
}

.map.mapboxgl-map {
    padding: 200px;
    margin-top: 70px;
    max-width: 80vw;
}

.map {
    display: flex;
    max-width: 100vw;
    justify-content: center;
}



/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.logo-nav {
    height: 84px;
}

.ui.circular.image {
    height: 200px;
    margin: 70px 0 50px 0;
}

.paragraph {
    text-align: center;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

.marker {
    background-image: url('./images/matteo-card.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-evenly;
}

.Contact-form {
    width: 400px;
}

.contattami {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

section.about-mindset {
    display: flex;
    flex-wrap: wrap;
    text-align: initial;
    line-height: 33px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 130px;

    & h2, p {
        text-align: center;
    }
}

section.landing-page1 {
    height: 100vh;
}

section.approach-description {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

section.approach-description > div {
    margin-bottom: 140px;
    width: 470px;

    & p {
        text-align: center;
        border-top: 1px solid gray;
        padding-top: 30px;
    }

    & h3 {
        padding-bottom: 30px;
    }
}

.nutritionig {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
